<div class="inputs-container" data-testid="inputs-container">
  <h3>Enter your details below</h3>

  <div class="radio">
    <label class="radio__label">
      <input
        type="radio"
        name="measurement-unity"
        id="unity"
        value="metric"
        checked
        data-testid="metric-setter"
        (change)="setUnity($event)"
      />
      Metric
    </label>
    <label class="radio__label">
      <input
        type="radio"
        name="measurement-unity"
        id="unity"
        value="imperial"
        data-testid="imperial-setter"
        (change)="setUnity($event)"
      />
      Imperial
    </label>
  </div>

  <div class="measurement-inputs" [ngSwitch]="unity">
    <div
      *ngSwitchCase="'metric'"
      data-testid="metric-inputs"
      class="metric-inputs appear-animation"
    >
      <label class="label height" for="height"
        >Height
        <input
          id="height"
          class="value-input"
          data-testid="metric-height-input"
          type="text"
          placeholder="0"
          [(ngModel)]="metricData.height"
          (blur)="calculate()"
        />
      </label>
      <label class="label weight" for="weight"
        >Weight
        <input
          id="weight"
          class="value-input"
          data-testid="metric-weight-input"
          type="text"
          placeholder="0"
          [(ngModel)]="metricData.weight"
          (blur)="calculate()"
        />
      </label>
    </div>

    <div
      *ngSwitchCase="'imperial'"
      class="imperial-inputs appear-animation"
      data-testid="imperial-inputs"
    >
      <div class="flex-container">
        <label class="label feet" for="height"
          >Height
          <input
            id="height"
            class="value-input"
            data-testid="feet-input"
            type="text"
            placeholder="0"
            [(ngModel)]="imperialData.height.feet"
            (blur)="calculate()"
          />
        </label>
        <label class="label inches" for="height-inches">
          <input
            id="height-inches"
            class="value-input"
            data-testid="inches-input"
            type="text"
            placeholder="0"
            [(ngModel)]="imperialData.height.inches"
            (blur)="calculate()"
          />
        </label>
      </div>

      <div class="flex-container">
        <label class="label stones" for="weight"
          >Weight
          <input
            id="weight"
            class="value-input"
            data-testid="stones-input"
            type="text"
            placeholder="0"
            [(ngModel)]="imperialData.weight.stones"
            (blur)="calculate()"
          />
        </label>
        <label class="label pounds" for="weight-lbs">
          <input
            id="weight-lbs"
            class="value-input"
            data-testid="pounds-input"
            type="text"
            placeholder="0"
            [(ngModel)]="imperialData.weight.pounds"
            (blur)="calculate()"
          />
        </label>
      </div>
    </div>
  </div>

  <section [ngSwitch]="state" class="result-container">
    <div *ngSwitchCase="'initial'">
      <h3>Welcome!</h3>
      <p>Enter your height and weight and you’ll see your BMI result here</p>
    </div>
    <div class="result" *ngSwitchCase="'result'">
      <div class="result__header">
        <p class="result__intro">Your BMI is...</p>
        <span class="result__value">{{ result }}</span>
      </div>
      <p class="result__desc">
        Your BMI suggests you're at {{ classification }}. Your ideal weight is
        between
        <span class="range-value"
          >{{ unity === "metric" ? metricRange : imperialRange }}.</span
        >
      </p>
    </div>
  </section>
</div>
