<div data-testid="inputs-container">
  <h3>Enter your details below</h3>

  <div class="radio">
    <label>
      <input
        type="radio"
        name="measurement-unity"
        id="unity"
        value="metric"
        checked
        data-testid="metric-setter"
        (change)="setUnity($event)"
      />
      Metric
    </label>
    <label>
      <input
        type="radio"
        name="measurement-unity"
        id="unity"
        value="imperial"
        data-testid="imperial-setter"
        (change)="setUnity($event)"
      />
      Imperial
    </label>
  </div>

  <div class="measurement-inputs" [ngSwitch]="unity">
    <div *ngSwitchCase="'metric'" data-testid="metric-inputs">
      <label for="height"
        >Height
        <input
          id="height"
          data-testid="metric-height-input"
          type="number"
          placeholder="0"
          [(ngModel)]="metricData.height"
          (blur)="calculate()"
        />
      </label>
      <label for="weight"
        >Weight
        <input
          id="weight"
          data-testid="metric-weight-input"
          type="number"
          placeholder="0"
          [(ngModel)]="metricData.weight"
          (blur)="calculate()"
        />
      </label>
    </div>

    <div *ngSwitchCase="'imperial'" data-testid="imperial-inputs">
      <label for="height"
        >Height
        <input
          id="height"
          data-testid="feet-input"
          type="number"
          placeholder="0"
          [(ngModel)]="imperialData.height.feet"
          (blur)="calculate()"
        />
        <input
          id="height-inches"
          data-testid="inches-input"
          type="number"
          placeholder="0"
          [(ngModel)]="imperialData.height.inches"
          (blur)="calculate()"
        />
      </label>
      <label for="weight"
        >Weight
        <input
          id="weight"
          data-testid="stones-input"
          type="number"
          placeholder="0"
          [(ngModel)]="imperialData.weight.stones"
          (blur)="calculate()"
        />
        <input
          id="weight-lbs"
          data-testid="pounds-input"
          type="number"
          placeholder="0"
          [(ngModel)]="imperialData.weight.pounds"
          (blur)="calculate()"
        />
      </label>
    </div>
  </div>

  <section [ngSwitch]="state">
    <div *ngSwitchCase="'initial'">
      <h3>Welcome!</h3>
      <p>Enter your height and weight and you’ll see your BMI result here</p>
    </div>
    <div *ngSwitchCase="'result'">
      <h3>
        Your BMI is...
        <span>{{ result }}</span>
      </h3>
      <p>
        Your BMI suggests you're {{ classification }}. Your ideal weight is
        between
        <span>{{ unity === "metric" ? metricRange : imperialRange }}.</span>
      </p>
    </div>
  </section>
</div>
