@font-face {
  font-family: Inter Regular;
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter Semibold;
  src: url(../assets/fonts/static/Inter-SemiBold.ttf);
}
