@import "../styles/index.scss";

.gradient-wrapper {
  text-align: center;
  padding: 2rem 1.5rem 13.6rem;
  border-radius: 0rem 0rem 2.1875rem 2.1875rem;
  background: var(
    --gradient-1,
    linear-gradient(315deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%)
  );

  & header > img {
    max-width: 2.5rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem;

    h1 {
      @include heading-l;
      font-weight: 600;
      color: $gunmetal;
      letter-spacing: -2.4px;
    }

    p {
      @include body-m;
      color: $dark-eletric-blue;
    }
  }
}

.inputs-area {
  padding: 0 1.5rem;
}

.result-explanation {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1.5rem 4.5rem;

    h2 {
      font-size: 2rem;
      line-height: 110%;
      letter-spacing: -0.1rem;
      color: $gunmetal;
    }

    p {
      @include body-m;
      color: $dark-eletric-blue;
    }
  }
}

.benefits {
  padding: 3.5rem 1.8rem 3.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: var(
    --gradient-1,
    linear-gradient(
      315deg,
      rgba(214, 230, 254, 0.25) 0%,
      rgba(214, 252, 254, 0) 100%
    )
  );

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__img {
    width: 4rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: -0.075rem;
      color: $gunmetal;
    }

    p {
      line-height: 150%;
      color: $dark-eletric-blue;
    }
  }
}

.limitations {
  padding: 4.5rem 1.8rem 6rem 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  & > h2 {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.1rem;
    color: $gunmetal;
  }

  & > p {
    margin-bottom: 1.5rem;
    line-height: 150%;
    color: $dark-eletric-blue;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  &__item {
    text-align: left;
    padding: 1.5rem;
    background-color: $pure-white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);

    .card-header {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2rem;
      }

      h3 {
        font-size: 1.25rem;
        letter-spacing: -0.0625rem;
        color: $gunmetal;
      }
    }

    p {
      @include body-s;
      color: $dark-eletric-blue;
    }
  }
}
